<div id="friends" class="container">
  <div class="text-center">
    <h2>Friends</h2>
    <p>Invite your friends to chat & play!</p>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#/users/friends">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/users/search">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#/users/friends/requests">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/users/blocked">Blocked</a>
    </li>
  </ul>

  <section id="friend_requests_received_container" class="mt-4">
    <h5>Friend Requests Received</h5>
  </section>
  <section id="friend_requests_sent_container" class="mt-5">
    <h5>Friend Requests Sent</h5>
  </section>
</div>