<div id="friends" class="container">
  <div class="text-center">
    <h2>Friends</h2>
    <p>Invite your friends to chat & play!</p>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="#/users/friends">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#/users/search">Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/users/friends/requests">Requests</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#/users/blocked">Blocked</a>
    </li>
  </ul>

  <div class="input-group mt-4">
    <input type="text" class="form-control" placeholder="Search for friends" aria-label="Search for friends" aria-describedby="button-search">
    <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
  </div>

  <section id="friends_search_container" class="mt-4"></section>
</div>