<div id="player-vs-player" class="container">
  <div class="col-lg-8 offset-lg-2">
    <div class="card text-center mt-5">
      <div class="card-body">
        <h2 class="card-title mb-5">Player vs Player</h2>
        <form>
          <div class="mb-3">
            <label for="player_1" class="form-label">Player 1</label>
            <input type="text" class="form-control" id="player_1" name="player_1" placeholder="Username" required>
          </div>
          <div class="mb-3">
            <label for="player_2" class="form-label">Player 2</label>
            <input type="text" class="form-control" id="player_2" name="player_2" placeholder="Username" required>
          </div>
          <button type="submit" class="btn btn-primary">Play</button>
        </form>
      </div>
    </div>
  </div>
</div>