<div id="register" class="container">
  <div class="text-center">
    <h2>Register</h2>
    <p>Create a new account.</p>

    <div class="col-lg-6 offset-lg-3">
      <div class="card text-start">
        <div class="card-body">
          <form id="register-form">
            <div class="mb-3">
              <label for="username" class="form-label mb-1">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label mb-1">Password</label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="mb-3">
              <label for="confirm_password" class="form-label mb-1">Confirm Password</label>
              <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm Password" required>
            </div>
            <div class="d-grid d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
            <span id="form-error" class="text-danger"></span>
          </form>
        </div>

        <div class="card-footer text-center py-3">
          <span>Already have an account? <a href="#/login" data-link>Login</a></span>
        </div>
      </div>
    </div>
  </div>
</div>