<div id="profile-edit" class="container">
  <div class="text-center">
    <h2>Edit Profile</h2>
    <p>Edit your profile information</p>

    <div class="col-lg-6 offset-lg-3">
      <div class="card text-start">
        <div class="card-body">
          <form id="edit-profile-form" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="username" class="form-label mb-1">Username</label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
              <label for="bio" class="form-label mb-1">Bio</label>
              <textarea class="form-control" id="bio" name="bio" placeholder="Bio" rows="3" style="resize: none;"></textarea>
            </div>
            <div class="mb-3">
              <label for="avatar" class="form-label mb-1">Avatar</label>
              <input type="file" class="form-control" id="avatar" name="avatar" accept="image/*">
            </div>
            <div id="preview-avatar-container" class="mb-3 d-flex align-items-center"></div>
            <div class="d-grid d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            <span id="form-error" class="text-danger"></span>
          </form>
        </div>
      </div>

      <div class="card text-start mt-3">
        <div class="card-body">
          <h5 class="card-title">Change Password</h5>
          <form class="mt-3">
            <div class="mb-3">
              <label for="old_password" class="form-label mb-1">Old Password</label>
              <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
            </div>
            <div class="mb-3">
              <label for="new_password" class="form-label mb-1">New Password</label>
              <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
            </div>
            <div class="mb-3">
              <label for="confirm_new_password" class="form-label mb-1">Confirm New Password</label>
              <input type="password" class="form-control" id="confirm_new_password" name="confirm_new_password" placeholder="Confirm New Password" required>
            </div>
            <div class="d-grid d-md-flex justify-content-md-end">
              <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
          </form>
        </div>
      </div>

      <div class="card text-start mt-3">
        <div class="card-body">
          <h5 class="card-title">Danger Zone</h5>
          <div class="d-grid d-md-flex justify-content-md-start mt-3">
            <button id="delete-account-button" type="button" class="btn btn-danger">Delete Account</button>
          </div>
        </div>
      </div>

      <div class="d-grid d-md-flex justify-content-md-end mt-3">
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Back</button>
      </div>
    </div>
  </div>
</div>